* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #424242;
}

li, a, button, span{
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #edf0f1;
  text-decoration: none;
}

.title_first_name{
  color: #0088a9;
  font-weight: 1000;
  letter-spacing: .15rem;
  font-size: 1.25em;
}

.title_movies{
  font-size: 1.25em;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  flex-wrap: wrap;
}

.title{
  margin-right: auto;
}

.nav__links {
  list-style: none;
}

.nav__links li{
  display: inline-block;
  padding: 0 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

button {
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover{
  background-color: rgba(0, 136, 169, 0.8);
}
