<header>
  <p class="title">
    <span class="title_first_name">HOLDEN'S</span>
    <span class="title_movies">MOVIES</span>
  </p>
  <nav>
    <ul class="nav__links">
      <li><a routerLink="" routerLinkActive="active">Movies</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/cart" routerLinkActive="active">Cart</a></li>
    </ul>
  </nav>
  <a class="contact" routerLink="/contact" routerLinkActive="active"><button>Contact</button></a>
</header>

<router-outlet></router-outlet>

